.filter-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0px;

  @include tablet {
    padding: 28px 0px;
  }
}

.category {
  display: flex;
  align-items: center;
  gap: 14px;
}

.category-list {
  display: flex;
  align-items: center;
  gap: 14px;
}

.category-btn {
  display: block;
  padding: 7px 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  text-align: center;
  background-color: #fff;
  color: #4b48db;
  text-align: center;
  border-radius: 20px;
  border: 1px solid #4b48db;
  cursor: pointer;
  &:hover {
    background-color: #4b48db;
    color: #fff;
    .category-icon-expand {
      fill: #fff;
    }
  }
}

.category-modal {
  position: absolute;
  display: none;
  left: 0;
  bottom: 0;
  width: 148px;
  z-index: 10000;
  @include tablet {
    width: 168px;
  }
  max-height: 380px;
  overflow-y: auto;
  background: #f8f8f8;
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  cursor: default;
  padding: 14px 24px;
}

.category-modal-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.category-modal-item {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  text-align: left;
  letter-spacing: 0.01em;
  color: #4440f7;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.category-others {
  position: relative;
  display: flex;
  gap: 10px;
  align-items: center;
  &-mobile {
    display: inline;

    @include tablet {
      display: none;
    }
  }

  &-tablet {
    display: none;

    @include tablet {
      display: inline;
    }
  }

  .category-icon-expand {
    fill: #4b48db;
  }

  &-active {
    .category-modal {
      transform: translateY(100%);
      display: block;
      z-index: 5;
    }
    .category-icon-expand {
      transform: rotate(180deg);
    }
  }
}

.category-others-chosen {
  display: none;
}

.category-item-active {
  .category-others-chosen {
    display: inline;
  }
  .category-others-mobile,
  .category-others-tablet {
    display: none;
  }
  background-color: #4b48db;
  color: #fff;
  .category-icon-expand {
    fill: #fff;
  }
}

.calendar-modal {
  position: absolute;
  display: none;
  right: 0;
  bottom: 0;
  width: 250px;
  max-height: 380px;
  background: #f8f8f8;
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1);
  border-radius: 20px;

  padding: 27px 16px 20px 16px;
  overflow-y: auto;
}

.calendar-tool {
  cursor: pointer;
  fill: #4b48db;
}

.calendar-month-prev,
.calendar-year-prev {
  transform: rotate(90deg);
}

.calendar-month-next,
.calendar-year-next {
  transform: rotate(-90deg);
}

.calendar-modal-month,
.calendar-modal-year {
  display: flex;
  align-items: center;
  gap: 5px;
}

.calendar-month {
  width: 82px;
  display: flex;
  justify-content: center;
}

.calendar-year {
  width: 38px;
  display: flex;
  justify-content: center;
}

.calendar-modal-acts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar-modal-weekdays {
  display: flex;
  justify-content: space-between;
  align-items: center;
  li {
    color: rgba(60, 60, 67, 0.3);
  }
}

.calendar-modal-days {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.calendar-modal-day-item {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.79;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.38px;
  color: #000000;
  cursor: pointer;
}

.calendar-modal-day-prev,
.calendar-modal-day-next {
  color: rgba(60, 60, 67, 0.3);
}

.calendar-modal-day-curr {
  background-color: #4b48db;
  color: #fff;
}

.calendar-title {
  display: none;
  color: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.39;

  @include desktop {
    display: block;
  }
}

.calendar-date {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #111321;
  opacity: 0.4;
}

.calendar-frame {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 150px;
  height: 31px;
  border-radius: 20px;
  border: 1px solid #111321;
  padding: 6px 12px;
  cursor: pointer;

  @include tablet {
    width: 168px;
  }
  .calendar-icon-frame {
    fill: #4b48db;
  }
  .calendar-icon-expand {
    fill: #a2a2a2;
  }

  &:hover {
    background-color: #4b48db;
    .calendar-date {
      color: #fff;
      opacity: 1;
    }
    .calendar-icon-frame {
      fill: #fff;
    }
    .calendar-icon-expand {
      fill: #fff;
    }
  }
}

.calendar {
  position: relative;
  display: flex;
  align-items: center;
  gap: 37px;

  &-active {
    .calendar-frame {
      background-color: #4b48db;
    }
    .calendar-date {
      color: #fff;
      opacity: 1;
    }
    .calendar-icon-frame {
      fill: #fff;
    }
    .calendar-icon-expand {
      fill: #fff;
      transform: rotate(-180deg);
    }
    .calendar-modal {
      transform: translateY(100%);
      display: flex;
      flex-direction: column;
      gap: 13px;
      z-index: 2;
    }
  }
}
