.container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;

  @include mobile {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }

  @include tablet {
    width: 768px;
  }

  @include desktop {
    width: 1280px;
  }
}
