.header {
    display: flex;
    align-items: center;
    
    border: 1px solid rgba(0, 0, 0, 0.2);
    }
    
.header__link {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;

    color: #111321;

    @include mobile {
        padding-left: 16px;
        padding-top: 24px;
        padding-bottom: 24px;

        font-size: 24px;
        line-height: 33px;
    }

    @include tablet {
        padding-left: 16px;
        padding-top: 32px;
        padding-bottom: 30px;
    
        font-size: 32px;
        line-height: 44px;
    }

    @include desktop {
        padding-left: 16px;
        padding-top: 28px;
        padding-bottom: 28px;
    
        font-size: 42px;
        line-height: 57px;
    }
}

.navigation__list {
    display: flex;
    align-items: center;

    @include mobile {
        opacity: 0;
    }

    @include tablet {
        opacity: 1;
        padding-top: 48px;
        padding-bottom: 36px;
        margin-left: 48px;
        margin-right: 32px;
    }

    @include desktop {
        margin-left: 102px;
        margin-right: 147px;
        padding-top: 55px;
        padding-bottom: 33px;
    }
}

.navigation__item:not(:last-child) {
    @include mobile {
    }
    
    @include tablet {
        margin-right: 44px;
    }

    @include desktop {
        margin-right: 69px;
    }
}
    
.navigation__link {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    
    color: #111321;
    
    @include mobile {
    
    }
    
    @include tablet {

    }
    
    @include desktop {

    }
}
    
.search {
    display: flex;
    align-items: center;

    @include mobile {
        opacity: 0;
    }
    
    @include tablet {
        opacity: 1;
    }

    @include desktop {
        margin-right: 147px;
    }
}
    
.search__logo {
    background-color: aqua;

    @include mobile {

    }

    @include tablet {

    }

    @include desktop {

    }
}
    
.search__input {
    border: 1px solid #111321;
    border-radius: 20px;
    opacity: 0;
    
    @include mobile {
    }

    @include tablet {
        opacity: 1;
    }

    @include desktop {
        min-width: 288px;
        min-height: 31px;
    }
}

// .switch {

// }

.switch__logo {
    background-color: rgb(169, 238, 30);


    @include mobile {
        width: 98px;
        height: 21px;
        opacity: 0;
    }

    @include tablet {
        width: 98px;
        height: 21px;
        opacity: 1;
    }

    @include desktop {
        width: 148px;
        height: 24px;
    }
}

// .modalbtn {

// }

.modalbtn__logo {
    background-color: greenyellow;

    @include mobile {
    }

    @include tablet {
        opacity: 0;
    }

    @include desktop {

    }
}
