.header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.dark-theme .header {
    border-bottom: 1px solid rgba(244, 244, 244, 0.2)
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__inner-link {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    color: inherit;
    font-size: 24px;
    line-height: 33px;

    @include mobile {
    }

    @include tablet {
        margin-right: 0;
    
        font-size: 32px;
        line-height: 44px;
    }

    @include desktop {
        font-size: 42px;
        line-height: 57px;
    }
}

.header__inner-link:hover,
.header__inner-link:focus {
    text-shadow: 0 0 2px #fff,
    -1px -1px 0 hsl(219, 79%, 46%),
    -2px -2px 1px hsl(230, 30%, 96%),
    -2px -2px 2px hsl(263, 89%, 42%),
}

.navigation__list {
    display: none;

    @include mobile {
        margin: 0;
    }

    @include tablet {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin-left: 10px;
        margin-right: 10px;
    }

    @include desktop {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.navigation__link:hover,
.navigation__link:focus {
    text-shadow: 0 0 2px #fff,
    -1px -1px 0 hsl(219, 79%, 46%),
    -2px -2px 1px hsl(230, 30%, 96%),
    -2px -2px 2px hsl(263, 89%, 42%),
}

.navigation__item:not(:last-child) {
    @include mobile {
    }
    
    @include tablet {
        margin-right: 10px;
    }

    @include desktop {
        margin-right: 20px;
    }
}

.navigation__link {
    position: relative;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: inherit;
    
    @include mobile {
    }
    
    @include tablet {
    }
    
    @include desktop {
    }
}

.navigation__link--current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: -8px;
    display: block;

    width: 100%;
    height: 3px;
    border-radius: 4px;
    background-color: #4b48db;
}

.header__form {
    display: flex;
    align-items: center;
}

.search {
    display: flex;
    align-items: center;
}

.search__btn-ds {
    display: flex;
    justify-content: center;
    align-items: center;
    color: inherit;

    background: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    appearance: none;
    width: 20px;
    position: relative;
    display: none;

    @include mobile{
    }

    @include tablet{
        display: block;
    }

    @include desktop{
    }
}

.search__logo {
    cursor: pointer;
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}

.search__input {
    border: 1px solid #111321;
    background-color: inherit;
    color: inherit;
    line-height: 14px;
    box-sizing: border-box;
    border-radius: 20px;
    opacity: 0;
    z-index: -1;
    transition-duration: 0.5s;
    transition-property: opacity;
    appearance: none;

    @include mobile{
        padding: 5px 20px 5px 25px;
        width: 103px;
        height: 31px;
    }

    @include tablet{
        padding: 5px 35px 5px 35px;
        width: 193px;
        height: 31px;
        opacity: 1;
    }

    @include desktop{
        width: 268px;
        height: 31px;
    }
}

.search__input::placeholder {
    max-width: 100px;
    height: 20px;
    left: 35px;
    opacity: 0.4;
    border-right: 1px solid #111321;
}

.dark-theme .search__input::placeholder {
    opacity: 0.4;
    border-right: 1px solid #F4F4F4;
    color: #F4F4F4;
}

.search__mobile-logo {
    display: block;
    cursor: pointer;
    width: 20px;
    height: 20px;

    @include mobile{
    }

    @include tablet{
        display: none;
    }

    @include desktop{
    }
}

.search--active {
    .search__input {
        opacity: 1;
        z-index: 1;
    }

    .search__btn-ds {
        display: block;
    }

    .search__mobile-logo {
        display: none;
    }
}

body.dark-theme svg {fill:white}
body.dark-theme input {border: 1px solid white}