.home {
  margin-bottom: 40px;

  @include tablet {
    margin-bottom: 48px;
  }

  @include desktop {
    margin-bottom: 60px;
  }
}

.home__inner {
  margin: 0 auto;
  width: 100%;
}

.home__list {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @include desktop {
    justify-content: center;
    gap: 45px;
  }
}

.home__list-item {
  flex-basis: calc(100%);
  min-height: 675px;
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
  transition: all 0.3s ease;

  &:hover {
    scale: 1.03;
  }

  @include tablet {
    flex-basis: calc(100% / 2 - 30px);

    &:nth-child(1) {
      order: -1;
    }

    &:nth-child(2) {
      order: -2;
    }
  }

  @include desktop {
    flex-basis: calc(100% / 3 - 30px);

    &:nth-child(1) {
      order: -1;
    }

    &:nth-child(2) {
      order: -2;
    }

    &:nth-child(3) {
      order: -3;
    }
  }
}

.home__list-item.weather-container {
  height: 100%;
  width: 100%;
}

.home__list-item.weather {
  height: 675px;
}

.home__list-top {
  position: relative;
  margin-bottom: 20px;

  & > button[type='button'] {
    position: absolute;
    right: 12px;
    bottom: 12px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 6px 32px 6px 12px;
    &::after {
      content: '';
      position: absolute;
      right: 12px;
      top: 50%;
      transform: translateY(-50%);
      width: 16px;
      height: 16px;
      background-image: url('../home-images/akar-icons_heart.svg');
    }
    // &.add-button::after {
    //   background-image: url('../home-images/akar-icons_heart_fill.svg');
    // }
  }

  & > img {
    display: block;
    width: 100%;
    height: 395px;
    object-fit: cover;
    border-radius: 4px;
  }
}

.home__list-section {
  position: absolute;
  top: 40px;
  left: 0;
  padding: 8px 16px;
  background-color: rgba(68, 64, 247, 0.7);
  border-radius: 0px 4px 4px 0px;
  color: #ffffff;
}

.home__list-description {
  padding-left: 15px;
  padding-right: 15px;
}

.home__list-title {
  font-weight: 700;
  font-size: 22px;
  line-height: calc(44 / 32);
  letter-spacing: -0.01em;
  color: inherit;
  margin-bottom: 20px;

  @include desktop {
    font-size: 26px;
  }
}

.home__list-text {
  font-size: 14px;
  line-height: calc(22 / 16);

  @include tablet {
    font-size: 16px;
  }
}

.home__list-footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}

.home__list-date {
  font-size: 14px;
  line-height: calc(22 / 16);
  color: #a8a8a8;

  @include tablet {
    font-size: 16px;
  }
}
