.home__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 28px;
}

.home__list-item {
  flex-basis: calc(100% - 28px);

  @include tablet {
    flex-basis: calc(100% / 2 - 28px);
  }

  @include desktop {
    flex-basis: calc(100% / 3 - 28px);
  }
}
