.readPage-list__item {
  position: relative;
}

//// FOR GETMARKUP
.home__list-item {
  border-radius: 4px;
}

.home__list-item:hover,
.home__list-item:focus {
  box-shadow: 1px 1px 2px 3px #929292;
}

//// FOR GETMARKUP /////

.isRead {
  opacity: 0.6;
}

.home__list-is-read {
  opacity: 0;
}

.isRead .home__list-is-read {
  opacity: 1;
}

.home__list-is-read {
  position: absolute;
  top: 20px;
  right: 20px;

  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.36;

  color: #00dd73;
}

// .read-page-list__list {
//   display: grid;
//   gap: 30px;
//   grid-template-columns: 395px;
//   margin: 0 auto;

//   @include tablet {
//     grid-template-columns: 353px 353px;
//     margin: 0;
//   }

//   @include desktop {
//     grid-template-columns: 395px 395px 395px;
//   }
// }

.read-page-list__list {
  width: 100%;
  flex-wrap: wrap;
  gap: 40px;
  padding-top: 40px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  @media screen and (min-width: 768px) {
    padding-top: 48px;
  }
  @media screen and (min-width: 1200px) {
    gap: 32px;
    padding-top: 60px;
  }
}

.read-page-list__list .home__list-item {
  @include tablet {
    height: 670px;
    display: flex;
    flex-direction: column;
  }

  @include desktop {
    max-width: 395px;
  }
}

.readPage-list__title {
  @media screen and (min-width: 480px) {
    margin-top: 40px;
    margin-bottom: 28px;
  }

  @media screen and (min-width: 768px) {
    margin-top: 48px;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 60px;
    margin-bottom: 40px;
  }

  height: 33px;
  margin-top: 40px;
  margin-bottom: 28px;
  padding-left: 5px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02em;

  color: inherit;
  border-bottom: 1px solid #929292;
}

.readPage-list__title:hover,
.readPage-list__title:focus {
  box-shadow: 0px 4px 2px -2px #929292;
}

.readPage-list {
  margin-top: 28px;
}

.readPage-list__svg {
  position: absolute;
  top: 0;
  left: 100px;
  transform: rotate(180deg);
  z-index: -1;
}

.is-open {
  transform: rotate(0);
}

.home__list-link:visited {
  color: #4440f6;
}
