.svg{
    fill:  #5F6775;
    stroke: #5F6775;
  }
  
  .spinner {
  display: block;
    width: 50px;
    height: 50px;
    margin: auto;
    animation: spin 5s linear infinite;
  
  }
  .hidden {
    display: none;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }