  root{
    --primary-color: #111321;
    --backgraund-color: #686868;
    --light-backgraund-color: #F4F4F4;;
    --footer-backgraund-color: #7A7A7A;
    --dark-backgraund-color: #2E2E2E;
    --icon-fill-color: #4440F6;
    --border-icon-color: #4440F7;
    --switches-color:#4B48DB;
  }
  
  