p {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.weather {
  background-color: #4440f6;
  color: #ffffff;
  max-width: 395px;
  width: 100%;
  height: 675px;
  padding: 40px 15px 60px;
  border-radius: 4px;
  position: relative;
  z-index: 2;
  margin: 0 auto 30px;

  &.load {
    background-color: rgb(98, 145, 233);
  }

  @include tablet {
    max-width: 353px;
    margin: 0px 0px 30px auto;
  }

  @include desktop {
    max-width: 395px;
  }
}

.preload-wrapper {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;

  &.load {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
}

.preload {
  position: absolute;
  z-index: 3;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;

  .loader {
    width: 75px;
    height: 75px;
    border: 10px solid #ffffff;
    border-radius: 100%;
    border-top-color: transparent;

    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.weather-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  max-height: 675px;
}

.weather-container__top {
  display: flex;
  margin-bottom: 50px;
}

.weather-container__deg {
  font-size: 64px;
  line-height: calc(75 / 64);
  margin-right: 8px;
}

.weather-container__top-wrapper {
  border-left: 1px solid #ffffff;
  padding-left: 8px;
}

.weather-container__top-dsecr {
  text-transform: capitalize;
  font-size: 36px;
  line-height: calc(42 / 36);
  max-width: 100px;
}

.weather-container__top-location {
  padding: 10px 17px 10px 49px;
  background-color: rgba(254, 254, 255, 0.3);
  border-radius: 10px;
  font-size: 20px;
  line-height: calc(23 / 20);
  display: inline-block;
  position: relative;

  &::before {
    content: '';
    background-image: url('../images-weather/carbon_location-filled.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 27px;
    height: 27px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.weather-container__img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 165px;
  margin-bottom: 50px;

  &.cloudy {
    background-image: url('../images-weather/cloudy.png');
    width: 230px;
    height: 200px;
  }

  &.cold {
    background-image: url('../images-weather/cold.png');
    width: 170px;
    background-size: contain;
  }

  &.sun {
    background-image: url('../images-weather/sun.png');
    width: 175px;
  }
}

.weather-container__footer {
  text-align: center;
  margin-top: auto;
}

.weather-container__footer-day,
.weather-container__footer-date {
  font-size: 36px;
  line-height: calc(42 / 36);
}

.weather-container__footer-day {
  margin-bottom: 5px;
}

.weather-container__footer-date {
  margin-bottom: 28px;
}

.btn__footer-week {
  padding: 9px 12px;
  background-color: rgba(254, 254, 255, 0.3);
  border-radius: 10px;
  font-size: 20px;
  line-height: calc(23 / 20);
  color: #ffffff;
  transition: all 0.3s ease;

  &:hover {
    background-color: rgba(254, 254, 255, 0.5);
    box-shadow: 0px 5px 10px 1px rgba(65, 70, 96, 0.75);
  }
}
