<section class="filter">
    <div class="container">
        <div class="filter-section">
            <h2 class="visually-hidden">Filter options</h2>
            <div class="category">
                <ul class="category-list"></ul>
                <div class="category-others category-btn">
                    <span class="category-others-mobile">Categories</span>
                    <span class="category-others-tablet">Others</span>
                    <span class="category-others-chosen"></span>
                    <svg class="category-icon-expand" height="14" width="14">
                        <use href="./images/icons.svg#dilka-bottom"></use>
                    </svg>
                    <div class="category-modal">
                        <ul class="category-modal-list"></ul>
                    </div>
                </div>
            </div>
            <div class="calendar">
                <p class="calendar-title">Search date news</p>
                <div class="calendar-frame">
                    <svg class="calendar-icon-frame" height="20" width="20">
                        <use href="./images/icons.svg#Frame"></use>
                    </svg>
                    <span class="calendar-date">Set date</span>
                    <svg class="calendar-icon-expand" height="14" width="14">
                        <use href="./images/icons.svg#dilka-bottom"></use>
                    </svg>
                </div>
                <div class="calendar-modal">
                    <div class="calendar-modal-acts">
                        <div class="calendar-modal-month">
                            <svg class="calendar-month-prev calendar-tool" height="14" width="14">
                                <use href="./images/icons.svg#dilka-bottom"></use>
                            </svg>
                            <span class="calendar-month">February</span>
                            <svg class="calendar-month-next calendar-tool" height="14" width="14">
                                <use href="./images/icons.svg#dilka-bottom"></use>
                            </svg>
                        </div>
                        <div class="calendar-modal-year">
                            <svg class="calendar-year-prev calendar-tool" height="14" width="14">
                                <use href="./images/icons.svg#dilka-bottom"></use>
                            </svg>
                            <span class="calendar-year">2022</span>
                            <svg class="calendar-year-next calendar-tool" height="14" width="14">
                                <use href="./images/icons.svg#dilka-bottom"></use>
                            </svg>
                        </div>
                    </div>
                    <ul class="calendar-modal-weekdays">
                        <li>Su</li>
                        <li>Mo</li>
                        <li>Tu</li>
                        <li>We</li>
                        <li>Th</li>
                        <li>Fr</li>
                        <li>Sa</li>
                    </ul>
                    <ul class="calendar-modal-days"></ul>
                </div>
            </div>
        </div>
    </div>
</section>