<footer class="footer">
  <div class="container">
    <ul class="footer__list">
      <li class="footer__item">
        <svg class="footer__logo">
          <use href="./images-footer/symbol-defs.svg#icon-html5"></use>
        </svg>
      </li>
      <li class="footer__item">
        <svg class="footer__logo">
          <use href="./images-footer/symbol-defs.svg#icon-css3"></use>
        </svg>
      </li>
      <li class="footer__item">
        <svg class="footer__logo">
          <use href="./images-footer/symbol-defs.svg#icon-sass"></use>
        </svg>
      </li>
      <li class="footer__item">
        <svg class="footer__logo">
          <use href="./images-footer/symbol-defs.svg#icon-JavaScript"></use>
        </svg>
      </li>
      <li class="footer__item">
        <svg class="footer__logo">
          <use href="./images-footer/symbol-defs.svg#icon-nodeJS"></use>
        </svg>
      </li>
      <li class="footer__item">
        <svg class="footer__logo">
          <use href="./images-footer/symbol-defs.svg#icon-Rest-API"></use>
        </svg>
      </li>
      <li class="footer__item">
        <svg class="footer__logo">
          <use href="./images-footer/symbol-defs.svg#icon-newYorkTimes"></use>
        </svg>
      </li>
    </ul>
  </div>
</footer>