<header class="header">
    <div class="container">
        <div class="section">
            <a class="section__link" href="./index.html">News</a>
            <ul class="navigation__list">
                <li class="navigation__item">
                    <a class="navigation__link" href="./index.html">Home</a>
                </li>
                <li class="navigation__item">
                    <a class="navigation__link" href="./favorite.html">Favorite</a>
                </li>
                <li class="navigation__item">
                    <a class="navigation__link" href="./read.html">Read</a>
                </li>
            </ul>
            <div class="search">
                <svg class="search__logo" width="40" height="40">
                    <use></use>
                </svg>
                <input class="search__input" type="text" placeholder="Search">
            </div>
            <div class="switch">
                <svg class="switch__logo" width="40" height="40">
                    <use></use>
                </svg>
            </div>
            <div class="modalbtn">
                <svg class="modalbtn__logo" width="40" height="40">
                    <use></use>
                </svg>
            </div>
        </div>
    </div>
</header>