<!-- вставити в хедер в середину div class="modalbtn" -->

<!-- <button type="button" class="mobile-menu__button " data-menu-btn >
    <span></span>
  </button> -->

<div class="backdrop is-hidden">
<div class="menu-container is-closed" data-menu>
    <ul class="mobile-menu ">
            <li class="mobile-menu__item">
                <svg width="28" height="28">
                    <use class="mobile-menu__icon" href="./images/icons.svg#home"></use>
                  </svg>
                <a class="mobile-menu__link" href="./index.html">Home</a>
            </li>
            <li class="mobile-menu__item">
                <svg width="28" height="28">
                    <use class="mobile-menu__icon" href="./images/icons.svg#heart"></use>
                  </svg>
                <a class="mobile-menu__link" href="./favorite.html">Favorite</a>
            </li>
            <li class="mobile-menu__item">
                <svg width="28" height="28">
                    <use class="mobile-menu__icon" href="./images/icons.svg#"></use>
                  </svg>
                <a class="mobile-menu__link" href="./read.html">Read</a>
            </li>
    </ul>
  </div>
</div>