<div class="backdrop ">
<div class="menu-container is-closed" data-menu>
  <a class="logo-modal" href="./index.html">News</a>
    <ul class="mobile-menu ">
    <li class="mobile-menu__item">
      <svg class="mobile-menu__icon" width="32" height="32">
        <use href="./images-modal/modal-icons.svg#icon-home"></use>
      </svg>
      <a class="mobile-menu__link" href="./index.html">Home</a>
      <svg class="mobile-menu__icon-arrow" width="24" height="24">
        <use href="./images-modal/modal-icons.svg#icon-chevron-right"></use>
      </svg>
    </li>
    <li class="mobile-menu__item">
      <svg class="mobile-menu__icon" width="32" height="32">
        <use href="./images-modal/modal-icons.svg#icon-heart"></use>
      </svg>
      <a class="mobile-menu__link" href="./favorite.html">Favorite</a>
      <svg class="mobile-menu__icon-arrow" width="24" height="24">
        <use href="./images-modal/modal-icons.svg#icon-chevron-right"></use>
      </svg>
    </li>
    <li class="mobile-menu__item">
      <svg class="mobile-menu__icon" width="32" height="32">
        <use href="./images-modal/modal-icons.svg#icon-read"></use>
      </svg>
      <a class="mobile-menu__link" href="./read.html">Read</a>
      <svg class="mobile-menu__icon-arrow" width="24" height="24">
        <use href="./images-modal/modal-icons.svg#icon-chevron-right"></use>
      </svg>
    </li>
  </ul>
  <div class="theme-swapper">
    <div class="theme-wrapper theme-wrapper--light  switch-on">
      <svg width="21px" height="21px" class="mobile-theme-svg mobile-theme-svg__light ">
        <use href="./images/symbol-defs.svg#sun_icon"></use>
      </svg>
      <span class="theme-swapper__title theme-swapper__title--light ">Light</span>
    </div>
    <div class="checkbox">
      <div class="checkbox__switcher"></div>
    </div>

    <div class="theme-wrapper theme-wrapper--dark">
      <svg width="16px" height="16px" class="mobile-theme-svg mobile-theme-svg__dark">
        <use href="./images/symbol-defs.svg#icon_moon"></use>
      </svg>
      <span class="theme-swapper__title theme-swapper__title--dark ">Dark</span>
    </div>
  </div>
</div>
</div>