<div class="backdrop-sign-up is-hidden">
  <div class="modal-sign-up">
    <button type="button" class="btn-close-sign-up"></button>
    <form class="modal-form-sign-up">
      <input
        type="text"
        name="password"
        class="password-sign-up"
        placeholder="Password"
      />
      <p class="valid-data">Password should be at least 6 characters</p>

      <input
        type="email"
        name="email"
        class="email-sign-up"
        placeholder="Email"
      />
      <p class="valid-data">Email should contain @</p>
      <button type="button" class="google-btn" google-sign-up>
        <img
          class="google-btn-img"
          width="20px"
          height="20px"
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"
          alt="Sign in with Google"
        />
        Login with google
      </button>
      <button type="submit" class="sign-up" disabled>Sign up</button>
    </form>
  </div>
</div>
