<div class="backdrop-sign-up is-hidden">
  <div class="modal-sign-up">
    <button type="button" class="btn-close-sign-up" data-modal-close></button>
    <form class="modal-form-sign-up">
      <input
        type="text"
        name="password"
        class="password-sign-up"
        placeholder="Password"
      />
      <input
        type="email"
        name="email"
        class="email-sign-up"
        placeholder="Email"
      />

      <button type="submit" class="sign-up">Sign up</button>
    </form>
  </div>
</div>
