<div class="theme-swapper">
    
        <div class="theme-wrapper theme-wrapper--light  switch-on">
            
                <svg width="21px" height="21px" class="mobile-theme-svg mobile-theme-svg__light ">
                    <use href="./images/symbol-defs.svg#sun_icon"></use>
                </svg>
            
            <span class="theme-swapper__title theme-swapper__title--light ">Light</span>
            </div>

            <div class="checkbox">
                <div class="checkbox__switcher"></div>
            </div>
            
            <div class="theme-wrapper theme-wrapper--dark">                
                    <svg width="16px" height="16px" class="mobile-theme-svg mobile-theme-svg__dark">
                        <use href="./images/symbol-defs.svg#icon_moon"></use>
                    </svg>               
                <span class="theme-swapper__title theme-swapper__title--dark ">Dark</span>
            </div>  
</div>